<%- include partials/header.ejs %>
<%- include partials/navigation.ejs %>
<div class="login text-center">
<ul class="login-list">
  <li><a href="/auth/facebook"><img height="50" src="/img/site/fb.png" /></a></li>
  <li><a href="/auth/google"><img height="50" src="/img/site/g.png" /></a></li>
  <li><a href="/auth/twitter"><img height="50" src="/img/site/tw.png" /></a></li>
</ul>
</div>
